<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">O que houve nesse período</h4>
                        <p class="card-category"> Informações de contatos comerciais</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Número do Serviço
                                    </th>
                                    <th>
                                        Empresa
                                    </th>
                                    <th>
                                        Possível Entrada
                                    </th>
                                    <th>
                                        Vendedor
                                    </th>
                                    <th>
                                        Tipo de Pagamento
                                    </th>
                                    <th>
                                        Veja
                                    </th>
                                </thead>
                                <tbody>
                                    <% @vendas.each do |venda|%>
                                        <tr>
                                            <td>
                                                <%= venda.service_number %>
                                            </td>
                                            <td>
                                                <%= venda.client_name %>
                                            </td>
                                            <td class="text-primary">
                                                R$<%= venda.amount %>
                                            </td>
                                            <td>
                                                <%= venda.seller_name %>
                                            </td>
                                            <td>
                                                <%= venda.payment_type %>
                                            </td>
                                            <td>
                                                <%= link_to detalhes_path(venda.service_number) do  %> 
                                                    <p>Detalhes</p>
                                                <%end%>
                                            </td>
                                        </tr>
                                    <%end%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Vendedores</h4>
                        <p class="card-category">Ranking de Faturamentos</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Percentual do Total em (%)
                                    </th>
                                    <th>
                                        Faturamento Obtido em (R$)
                                    </th>
                                </thead>
                                <tbody>
                                    <%@vendedores.each do |vendedor|%>                                    
                                        <tr>
                                            <td>
                                                <%=vendedor.seller_code%>
                                            </td>
                                            <td>
                                                <%=vendedor.seller_name%>
                                            </td>
                                            <td>
                                                <%=percent_of(seller_amount(vendedor, @buscar_sem_orcamento), @busca_total_vendas_sem_orcamento).round(2)%>
                                            </td>
                                            <td>
                                                <%=vendedor.amount%>
                                            </td>
                                        </tr>
                                    <%end%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Vendedores</h4>
                        <p class="card-category">Ranking de Orçamentos</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Percentual do Total em (%)
                                    </th>
                                    <th>
                                        Orçamento Obtido em (R$)
                                    </th>
                                </thead>
                                <tbody>
                                    <%@vendedor_tipo_orcamento.each do |vendedor|%>                                    
                                        <tr>
                                            <td>
                                                <%=vendedor.seller_code%>
                                            </td>
                                            <td>
                                                <%=vendedor.seller_name%>
                                            </td>
                                            <td>
                                                <%=percent_of(seller_amount(vendedor, @buscar_de_orcamento), @busca_total_vendas_de_orcamento).round(2)%>
                                            </td>
                                            <td>
                                                <%=vendedor.amount%>
                                            </td>
                                        </tr>
                                    <%end%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>