<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">O que houve nesse período</h4>
                        <p class="card-category"> Informações de contatos comerciais</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Empresa
                                    </th>
                                    <th>
                                        Possível Entrada
                                    </th>
                                    <th>
                                        Vendedor
                                    </th>
                                    <th>
                                        Nº Pedido
                                    </th>
                                    <th>
                                        Veja
                                    </th>
                                </thead>
                                <tbody>
                                    <% @buscar.each do |dados|%>
                                        <tr>
                                            <td>
                                                <%= dados.client_name %>
                                            </td>
                                            <td class="text-primary">
                                                R$<%= dados.amount %>
                                            </td>
                                            <td>
                                                <%= dados.seller_name %>
                                            </td>
                                            <td>
                                                <%= dados.service_number %>
                                            </td>
                                            <td>
                                                <%= link_to   detalhes_path do  %> 
                                                    <p>Detalhes</p>
                                                <%end%>
                                            </td>
                                        </tr>
                                    <%end%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>